<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.control.situation.mapper.SysRoleMapper">
    <resultMap id="SysRoleResultMap" type="com.control.situation.entity.SysRoleInfo">
    	<id column="id" property="id" jdbcType="INTEGER" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="dept_id" property="deptId" jdbcType="INTEGER" />
        <result column="tips" property="tips" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
	id,pid,name,dept_id,tips,create_time,update_time
    </sql>

    <select id="findOne" parameterType="java.lang.Integer" resultMap="SysRoleResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_role
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findAll"  resultMap="SysRoleResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_role
    </select>

    <select id="findByParams" resultMap="SysRoleResultMap" parameterType="SysRoleInfo">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_role
        <where>
    
	        <if test="id != null" >
			    id = #{id,jdbcType=INTEGER},
	        </if>
    
	        <if test="pid != null" >
			    pid = #{pid,jdbcType=INTEGER},
	        </if>
    
	        <if test="name != null" >
			    name = #{name,jdbcType=VARCHAR},
	        </if>
    
	        <if test="dept_id != null" >
			    dept_id = #{deptId,jdbcType=INTEGER},
	        </if>
    
	        <if test="tips != null" >
			    tips = #{tips,jdbcType=VARCHAR},
	        </if>
    
	        <if test="create_time != null" >
			    create_time = #{createTime,jdbcType=TIMESTAMP},
	        </if>
    
	        <if test="update_time != null" >
			    update_time = #{updateTime,jdbcType=TIMESTAMP},
	        </if>
        </where>
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM sys_role
        WHERE id = #{id,jdbcType=${tempColumn.columnType}}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.control.situation.sys_role.SysRoleInfo">
        INSERT INTO
        sys_role (pid,name,dept_id,tips,create_time,update_time)
        values
        (#{pid,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{deptId,jdbcType=INTEGER},#{tips,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="com.control.situation.sys_role.SysRoleInfo">
        UPDATE sys_role
        <set>
	    	        	    	        
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
	        	    	        
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
	        	    	        
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=INTEGER},
            </if>
	        	    	        
            <if test="tips != null">
                tips = #{tips,jdbcType=VARCHAR},
            </if>
	        	    	        
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
	        	    	        
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
	        	    
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>