<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.control.situation.mapper.RoleMenuMapper">
    <resultMap id="RoleMenuResultMap" type="com.control.situation.entity.RoleMenuInfo">
	
        <id column="id" property="id" jdbcType="INTEGER" />
		<result column="menu_id" property="menuId" jdbcType="INTEGER" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
	
    </resultMap>

    <sql id="Base_Column_List">
		id,menu_id,role_id
    </sql>

    <select id="findOne" parameterType="java.lang.Integer" resultMap="RoleMenuResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM role_menu
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findAll"  resultMap="RoleMenuResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM role_menu
    </select>

    <select id="findByParams" resultMap="RoleMenuResultMap" parameterType="com.control.situation.entity.RoleMenuInfo">
        SELECT
        <include refid="Base_Column_List" />
        FROM role_menu
        <where>
		
            <if test="id != null" >
				and id = #{id,jdbcType=INTEGER}
            </if>
		
            <if test="menuId != null" >
				and menu_id = #{menuId,jdbcType=INTEGER}
            </if>
		
            <if test="roleId != null" >
				and role_id = #{roleId,jdbcType=INTEGER}
            </if>
		
        </where>
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM role_menu
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.control.situation.entity.RoleMenuInfo">
        INSERT INTO
		role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
						    		    			    
            <if test="menuId != null">
		    menu_id,
            </if>
			    		    			    
            <if test="roleId != null">
		    role_id,
            </if>
			    		    
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
	        		        	        		        
            <if test="menuId != null">
                #{menuId,jdbcType=INTEGER},
            </if>
		        	        		        
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
		        	        
        </trim>
    </insert>

    <update id="update" parameterType="com.control.situation.entity.RoleMenuInfo">
        UPDATE role_menu
        <set>
						
            <if test="menuId != null">
				menu_id = #{menuId,jdbcType=INTEGER},
            </if>
					
            <if test="roleId != null">
				role_id = #{roleId,jdbcType=INTEGER},
            </if>
			
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>