<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.control.situation.mapper.RoleMapper">
    <resultMap id="RoleResultMap" type="com.control.situation.entity.RoleInfo">
	
        <id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	
    </resultMap>

    <sql id="Base_Column_List">
		id,name,description,create_time,update_time
    </sql>

    <select id="findOne" parameterType="java.lang.Integer" resultMap="RoleResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM role
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findAll"  resultMap="RoleResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM role
    </select>

    <select id="findByParams" resultMap="RoleResultMap" parameterType="com.control.situation.entity.RoleInfo">
        SELECT
        <include refid="Base_Column_List" />
        FROM role
        <where>
		
            <if test="id != null" >
				and id = #{id,jdbcType=INTEGER}
            </if>
		
            <if test="name != null" >
				and name = #{name,jdbcType=VARCHAR}
            </if>
		
            <if test="description != null" >
				and description = #{description,jdbcType=VARCHAR}
            </if>
		
            <if test="createTime != null" >
				and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
		
            <if test="updateTime != null" >
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
		
        </where>
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM role
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.control.situation.entity.RoleInfo">
        INSERT INTO
		role
        <trim prefix="(" suffix=")" suffixOverrides=",">
						    		    			    
            <if test="name != null">
		    name,
            </if>
			    		    			    
            <if test="description != null">
		    description,
            </if>
			    		    			    
            <if test="createTime != null">
		    create_time,
            </if>
			    		    			    
            <if test="updateTime != null">
		    update_time,
            </if>
			    		    
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
	        		        	        		        
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
		        	        		        
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
		        	        		        
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
		        	        		        
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
		        	        
        </trim>
    </insert>

    <update id="update" parameterType="com.control.situation.entity.RoleInfo">
        UPDATE role
        <set>
						
            <if test="name != null">
				name = #{name,jdbcType=VARCHAR},
            </if>
					
            <if test="description != null">
				description = #{description,jdbcType=VARCHAR},
            </if>
					
            <if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
					
            <if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
			
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>