<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.control.situation.mapper.UserRoleMapper">
    <resultMap id="UserRoleResultMap" type="com.control.situation.entity.UserRoleInfo">
	
        <id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
	
    </resultMap>

    <sql id="Base_Column_List">
		id,user_id,role_id
    </sql>

    <select id="findOne" parameterType="java.lang.Integer" resultMap="UserRoleResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM user_role
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findAll"  resultMap="UserRoleResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM user_role
    </select>

    <select id="findByParams" resultMap="UserRoleResultMap" parameterType="com.control.situation.entity.UserRoleInfo">
        SELECT
        <include refid="Base_Column_List" />
        FROM user_role
        <where>
		
            <if test="id != null" >
				and id = #{id,jdbcType=INTEGER}
            </if>
		
            <if test="userId != null" >
				and user_id = #{userId,jdbcType=INTEGER}
            </if>
		
            <if test="roleId != null" >
				and role_id = #{roleId,jdbcType=INTEGER}
            </if>
		
        </where>
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM user_role
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.control.situation.entity.UserRoleInfo">
        INSERT INTO
		user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
						    		    			    
            <if test="userId != null">
		    user_id,
            </if>
			    		    			    
            <if test="roleId != null">
		    role_id,
            </if>
			    		    
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
	        		        	        		        
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
		        	        		        
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
		        	        
        </trim>
    </insert>

    <update id="update" parameterType="com.control.situation.entity.UserRoleInfo">
        UPDATE user_role
        <set>
						
            <if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
            </if>
					
            <if test="roleId != null">
				role_id = #{roleId,jdbcType=INTEGER},
            </if>
			
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>