<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.control.situation.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.control.situation.entity.UserInfo">
	
        <id column="id" property="id" jdbcType="INTEGER" />
		<result column="avatar" property="avatar" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	
    </resultMap>

    <sql id="Base_Column_List">
		id,avatar,account,password,nick_name,email,phone,status,create_time,update_time
    </sql>

    <select id="findOne" parameterType="java.lang.Integer" resultMap="UserResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findAll"  resultMap="UserResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM user
    </select>

    <select id="findByParams" resultMap="UserResultMap" parameterType="com.control.situation.entity.UserInfo">
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        <where>
		
            <if test="id != null" >
				and id = #{id,jdbcType=INTEGER}
            </if>
		
            <if test="avatar != null" >
				and avatar = #{avatar,jdbcType=VARCHAR}
            </if>
		
            <if test="account != null" >
				and account = #{account,jdbcType=VARCHAR}
            </if>
		
            <if test="password != null" >
				and password = #{password,jdbcType=VARCHAR}
            </if>
		
            <if test="nickName != null" >
				and nick_name = #{nickName,jdbcType=VARCHAR}
            </if>
		
            <if test="email != null" >
				and email = #{email,jdbcType=VARCHAR}
            </if>
		
            <if test="phone != null" >
				and phone = #{phone,jdbcType=VARCHAR}
            </if>
		
            <if test="status != null" >
				and status = #{status,jdbcType=INTEGER}
            </if>
		
            <if test="createTime != null" >
				and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
		
            <if test="updateTime != null" >
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
		
        </where>
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM user
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.control.situation.entity.UserInfo">
        INSERT INTO
		user
        <trim prefix="(" suffix=")" suffixOverrides=",">
						    		    			    
            <if test="avatar != null">
		    avatar,
            </if>
			    		    			    
            <if test="account != null">
		    account,
            </if>
			    		    			    
            <if test="password != null">
		    password,
            </if>
			    		    			    
            <if test="nickName != null">
		    nick_name,
            </if>
			    		    			    
            <if test="email != null">
		    email,
            </if>
			    		    			    
            <if test="phone != null">
		    phone,
            </if>
			    		    			    
            <if test="status != null">
		    status,
            </if>
			    		    			    
            <if test="createTime != null">
		    create_time,
            </if>
			    		    			    
            <if test="updateTime != null">
		    update_time,
            </if>
			    		    
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
	        		        	        		        
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
		        	        		        
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
		        	        		        
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
		        	        		        
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
		        	        		        
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
		        	        		        
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
		        	        		        
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
		        	        		        
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
		        	        		        
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
		        	        
        </trim>
    </insert>

    <update id="update" parameterType="com.control.situation.entity.UserInfo">
        UPDATE user
        <set>
						
            <if test="avatar != null">
				avatar = #{avatar,jdbcType=VARCHAR},
            </if>
					
            <if test="account != null">
				account = #{account,jdbcType=VARCHAR},
            </if>
					
            <if test="password != null">
				password = #{password,jdbcType=VARCHAR},
            </if>
					
            <if test="nickName != null">
				nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
					
            <if test="email != null">
				email = #{email,jdbcType=VARCHAR},
            </if>
					
            <if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
            </if>
					
            <if test="status != null">
				status = #{status,jdbcType=INTEGER},
            </if>
					
            <if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
					
            <if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
			
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findByAccount" parameterType="map" resultMap="UserResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        WHERE account = #{account,jdbcType=VARCHAR}
    </select>
</mapper>